body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background: linear-gradient(rgb(108, 108, 255), rgb(141, 0, 206));
  height: 100vh;
  width: 100%;
  
}
.header{
  background: url(../public/image.jpg);
  height: 300px;
  width: 300px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 11px rgb(0, 0, 0);
  text-align: center;
  font-size: 22px;
  margin-top: 120px;
  
}
.header h2{
  background: rgba(10, 10, 10, 0.658);
}
.wrapper{
  align-items: center;
  justify-content: center;
  left: 200px;
  display: flex;
}

.form{
  background: rgb(45, 86, 223);
  height: 300px;
  width: 450px;
  box-shadow: 0px 0px 11px rgb(0, 0, 0);
  margin-top: 120px;
}

.input{
  margin-top: 20px;
  margin-left: 20px;
  color:rgb(255, 255, 255);
  font-size: 20px;
  background: none;
  border: none;
}
.button{
  width: 130px;
  height: 30px;
  background: rgb(27, 70, 212);
  border: black 1px solid;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.weather{
  margin-left: 20px;
  color: white;
  font-size: 18px;
}